<?xml version="1.0"?>
<Event>
    <event>
        <id>1</id>
        <name>Demo</name>
        <image>art1.jpg</image>
        <capacity>10</capacity>
        <quantityLeft>0</quantityLeft>
        <price>15</price>
        <startDate>04/24/2023</startDate>
        <endDate>04/28/2023</endDate>
        <category>Performing Arts</category>
        <status>Active</status>
    </event>
    <event>
        <id>2</id>
        <name>Halo</name>
        <image>art2.jpg</image>
        <capacity>20</capacity>
        <quantityLeft>2</quantityLeft>
        <price>20</price>
        <startDate>04/25/2023</startDate>
        <endDate>04/29/2023</endDate>
        <category>Performing Arts</category>
        <status>Active</status>
    </event>
    <event>
        <id>3</id>
        <name>AlohaTest</name>
        <image>art1.jpg</image>
        <capacity>35</capacity>
        <quantityLeft>35</quantityLeft>
        <price>15</price>
        <startDate>04/30/2023</startDate>
        <endDate>05/02/2023</endDate>
        <category>Performing Arts</category>
        <status>Deactive</status>
    </event>
    <event>
        <id>4</id>
        <name>dsadsada</name>
        <image>kid2.jpg</image>
        <capacity>10</capacity>
        <quantityLeft>10</quantityLeft>
        <price>5</price>
        <startDate>04/26/2023</startDate>
        <endDate>04/30/2023</endDate>
        <category>Performing Arts</category>
        <status>Active</status>
    </event>
    <event>
        <id>5</id>
        <name>bvcbcbcvb</name>
        <image>gallery1.jpg</image>
        <capacity>60</capacity>
        <quantityLeft>55</quantityLeft>
        <price>6</price>
        <startDate>04/28/2023</startDate>
        <endDate>04/30/2023</endDate>
        <category>Performing Arts</category>
        <status>Deactive</status>
    </event>
    <event>
        <id>6</id>
        <name>jhljljkljklkjl</name>
        <image>kid1.png</image>
        <capacity>10</capacity>
        <quantityLeft>10</quantityLeft>
        <price>6</price>
        <startDate>04/28/2023</startDate>
        <endDate>04/30/2023</endDate>
        <category>Performing Arts</category>
        <status>Active</status>
    </event>
    <event>
        <id>7</id>
        <name>hhjfdshfjkshdjhnxnccx</name>
        <image>art3.jpg</image>
        <capacity>70</capacity>
        <quantityLeft>70</quantityLeft>
        <price>49</price>
        <startDate>04/25/2023</startDate>
        <endDate>05/05/2023</endDate>
        <category>Kids &amp; Family</category>
        <status>Active</status>
    </event>
    <event>
        <id>8</id>
        <name>asfsfsfwtyfg</name>
        <image>kid2.jpg</image>
        <capacity>25</capacity>
        <quantityLeft>25</quantityLeft>
        <price>250</price>
        <startDate>04/29/2023</startDate>
        <endDate>05/01/2023</endDate>
        <category>Kids &amp; Family</category>
        <status>Active</status>
    </event>
    <event>
        <id>9</id>
        <name>Demo</name>
        <image>kid2.jpg</image>
        <capacity>10</capacity>
        <quantityLeft>0</quantityLeft>
        <price>500</price>
        <startDate>04/25/2023</startDate>
        <endDate>04/29/2023</endDate>
        <category>Halo</category>
        <status>Active</status>
    </event>
    <event>
        <id>10</id>
        <name>Fun</name>
        <image>art1.jpg</image>
        <capacity>30</capacity>
        <quantityLeft>5</quantityLeft>
        <price>300</price>
        <startDate>04/25/2023</startDate>
        <endDate>04/30/2023</endDate>
        <category>Fun</category>
        <status>Active</status>
    </event>
</Event>
